@model IEnumerable<devs.Models.Propietario>

@{
    
    var Pagina = ViewBag.Pagina ?? 1;
    var TotalPaginas = ViewBag.TotalPaginas ?? 1;
    var DniFiltro = ViewBag.DniFiltro;
    var EstadoFiltro = ViewBag.EstadoFiltro; 


    var filtrosQuery = "";
    if (!string.IsNullOrEmpty(DniFiltro))
    {
        filtrosQuery += $"&dni={DniFiltro}"; 
    }
    if (!string.IsNullOrEmpty(EstadoFiltro))
    {
        filtrosQuery += $"&estado={EstadoFiltro}";
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPropietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPropietario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                
                <td>
                    <div class="btn-group" role ="group"> 
                        <a class = "btn btn-primary" asp-action="Editar" asp-route-id="@item.IdPropietario" title="Editar">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        
                        <a class="btn btn-secondary" asp-action="Detalles" asp-route-id="@item.IdPropietario" title = "Detalles">
                            <i class="fa-solid fa-eye"></i>
                        </a> 
                        
                        <form asp-action="Borrar" asp-route-id="@item.IdPropietario" method="post"
                             onsubmit="return confirm('Seguro que desea borrar este propietario?');"
                             style="display:inline;">
                             <button type="submit" class="btn btn-danger" title="Eliminar">
                                <i class="fa-solid fa-trash"></i>
                             </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<nav aria-label="Page navigation">
    <ul class="pagination">
        
       
        @if (Pagina > 1)
        {
            <li class="page-item">
                <a class="page-link" href="~/Propietario/Index?pagina=@(Pagina - 1)@filtrosQuery" aria-label="Anterior">
                    <i class="fa-solid fa-angles-left"> </i>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link"><i class="fa-solid fa-angles-left"></i></span>
            </li>
        }

      
        @for (int i = 1; i <= TotalPaginas; i++)
        {
            <li class="page-item @(i == Pagina ? "active" : "")">
                
                <a class="page-link" href="~/Propietario/Index?pagina=@i@filtrosQuery">@i</a>
            </li>
        }
        
    
        @if (Pagina < TotalPaginas)
        {
            <li class="page-item">
                <a class="page-link" href="~/Propietario/Index?pagina=@(Pagina + 1)@filtrosQuery" aria-label="Siguiente">
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link"><i class="fa-solid fa-angles-right" ></i></span>
            </li>
        }
    </ul>
</nav>