@model devs.Models.Propietario

@{
    ViewData["Title"] = "Detalles";
}

<h4>Detalles del Propietario</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="IdPropietario" class="control-label"></label>
            <input asp-for="IdPropietario" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Apellido" class="control-label"></label>
            <input asp-for="Apellido" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Dni" class="control-label"></label>
            <input asp-for="Dni" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Telefono" class="control-label"></label>
            <input asp-for="Telefono" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" readonly />
        </div>
        
        <div class="form-group">
                <label asp-for="Estado" class="control-label">Estado: </label>
                <span>
                    @(Model.Estado ? "Activo" : "Inactivo")
                </span>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <a asp-action="Editar" asp-route-id="@Model.IdPropietario" class="btn btn-primary">Editar Propietario</a>
            <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </div>
    
    <div class="col-md-6">
        <h4>Inmuebles</h4>
        @if (Model.InmueblesPropietario != null && Model.InmueblesPropietario.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id Inmueble</th>
                        <th>Dirección</th>
                        <th>Tipo</th>
                        <th>Uso</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var inmueble in Model.InmueblesPropietario)
                    {
                        <tr>
                            <td>@inmueble.IdInmueble</td>
                            <td>@inmueble.Direccion</td>
                            <td>@inmueble.Tipo</td>
                            <td>@inmueble.Uso</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Este propietario no tiene inmuebles registrados.</p>
        }
    </div>
</div>