@model IEnumerable<devs.Models.Inquilino>

@{
    ViewData["Title"] = "Inquilino";
}

<h1>Listado de Inquilinos</h1>

<p>
    <a asp-action="Crear">Crear Nuevo Propietario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdInquilino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Modificar" asp-route-id="@item.IdInquilino">Editar</a> |
                    
                    <!--<a asp-action="Detalles" asp-route-id="@item.IdInquilino">Detalles</a> -->

                    <form asp-action="Borrar" asp-route-id="@item.IdInquilino" method="post"
                     onsubmit="return confirm('Seguro que desea borrar este Inquilino?');"
                     style="display:inline;">
                      <button type="submit" class="btn btn-link p-0">Borrar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>