@model IEnumerable<devs.Models.Usuario>

@{
	ViewData["Title"] = "Index";
	var rnd = new Random();
}

<h1>Index</h1>

<p>
    <a asp-action="Crear" class="btn btn-success">Crear Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.IdUsuario)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Nombre)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Apellido)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				@if(!String.IsNullOrEmpty(item.Avatar)) 
				{
					var x = item.Avatar + "?" + rnd.Next();
					<img width="32" src="@x" />
				}
				else 
				{
					
                    <img width="32" src="https://ui-avatars.com/api/?rounded=true&name=@item.Nombre+@item.Apellido" />
					
				}

			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Rol)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.IdUsuario" title="Editar"><i class="fa-solid fa-pen"></i></a>&nbsp;
				<form asp-controller="Usuario" asp-action="Delete" asp-route-id="@item.IdUsuario" title="Eliminar Usuario" method="post"
                          onsubmit="return confirm('Seguro que desea borrar este Usuario, esta accion es PERMANENTE?');"
                          style="display:inline;">
                      <button type="submit" class="btn btn-danger" title="Eliminar">
                      <i class="fa-solid fa-trash"></i>
                      </button>
                    </form>
			</td>
		</tr>
}
    </tbody>
</table>